In [113]:
from matplotlib import pyplot as plt
from matplotlib import dates as mdates
import contextily as ctx
import geopandas
import pandas as pd
import seaborn as sns
import numpy as np
import os
import gzip
import pickle
import datetime as dt
import os.path
from doc import dataf

In [146]:
df = dataf('accidents.pkl.gz')

In [147]:
newdf = df.loc[(df['p11'].isin([1,3,5,6,7,8,9])&(df['date'].dt.year>2019)),['p11','date','p13a','p13b','p13c']]

In [145]:
newdf

,Usmrtenych osob,tazko zranenych osob,lahko zranenych osob
p11,,,
"obsah alkoholu v krvi 1,5 ‰ a více",31,138,1946
"obsah alkoholu v krvi do 0,24 ‰",3,13,136
"obsah alkoholu v krvi od 0,24 ‰ do 0,5 ‰",4,19,181
"obsah alkoholu v krvi od 0,5 ‰ do 0,8 ‰",8,12,178
"obsah alkoholu v krvi od 0,8 ‰ do 1,0 ‰",3,13,149
"obsah alkoholu v krvi od 1,0 ‰ do 1,5 ‰",13,45,475
osoba bola pod vplyvom alkoholu a drog,4,8,43